


.image-icon {
    height: 50px;
    width: 50px;
}

.h-center {
    background-image: url("https://t3.gstatic.com/licensed-image?q=tbn:ANd9GcS4WH3Cpe1X75X4LhbHdyJo3vPEs0ufiHQhHjkqEnMjbPqViSEVI-nqF0NpeLscSR-7");
    height: 100vh;
    width: 100vw;
    background-size: cover;

}

.card {
    background-image: url("https://cdn.pixabay.com/photo/2015/04/19/08/33/flower-729512_640.jpg");
    background-size: cover;
    padding: 20px;
    font-family: "robot";
    text-align: center;

}

.main-heading {
    color: white;
    text-shadow: -2px 2px 0 #000;
}

.paragraph {
    color: #b0fc38;
    font-style: italic;
    text-shadow: -1px 1px 0 #000;
}

.home-button {
    color: white;
    background-color: #990f02;
    padding: 10px;
    height: 50px;
    width: 95px;
    border-color: lightblue;
    border-width: 2px;
    border-radius: 8px;

}

.homepage-side-image {
    height: 100%;
    width: 100%;
}

.favourite-flowers-bg-container {
    background-image: url("https://img.freepik.com/free-photo/beautiful-high-angle-shot-pink-marguerite-daisies-garden-sunlight_181624-27379.jpg");
    height: 100%;
    background-size: cover;
    padding: 24px;
}

.favourite-flowers-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
}

.favourite-flower-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 15px;
}

.favourite-flower-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

.favourite-flower-card-description {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 15px;
}

.favourite-flower-card-image {
    width: 120px;
    height: 100%;
    padding-left: 30px;
}

.favourite-flower-card-text-container {
    margin-right: 15px;
}
